.root {
    -fx-background-color:rgba(212, 203, 203, 1);
}
.button{
      -fx-background-color:white;
}
.text-area .content{
      -fx-background-color:black
}
.text-area{
-fx-text-fill:white;
}
.button:pressed{
      -fx-background-color:#0bade0;
      -fx-text-fill:white;
}
#eq{
         -fx-text-fill:white;
}
#eq:pressed{
      -fx-opacity:0.5;
       -fx-text-fill:black;
}
.radio-button:selected .radio .dot {
    -fx-background-color:#0bade0;
    -fx-background-insets:0;
}
.radio-button .radio{
     -fx-border-color:black;
     -fx-border-radius:50%;
     -fx-border-width:2;
     -fx-background-color:white;
     -fx-background-insets: 1;
     -fx-focus-color: transparent;
}
.radio-button:selected .radio{
    -fx-border-color:#0bade0;
    -fx-background-insets:0;
}
.check-menu-item:checked{
-fx-background-color:#0bade0;
}
.check-menu-item:focused{
-fx-focused-mark-color:transparent;
}
.check-menu-item{
-fx-mark-color:transparent;
}
.check-menu-item:hover{
-fx-background-color:rgba(212, 203, 203, 1);
}
.check-menu-item .label{
-fx-text-fill:black;
}
#my-field{
    -fx-border-color:black;
    -fx-background-color: white;
    -fx-background-insets:1;
}
#calc:hover{
      -fx-text-fill:#0bade0;
}